/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Public+Sans:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  @apply bg-surface-2 text-text-main;
}
/* smooth font‑rendering */
 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* headings use the Poppins stack */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
